In [4]:
import numpy as np
import pandas as pd
import pickle

In [6]:
## Datasets needed to get production: basedata/VXMD.csv, basedata/VST.csv, basedata/VDFM.csv, basedata/VDPM.csv,
## basedata/VDGM.csv, basedata/

## or just baseview/vom.csv


############### Some important functions to carry around #####################
def save_obj(obj, loc ):
    with open(loc, 'wb') as f:
        pickle.dump(obj, f, pickle.HIGHEST_PROTOCOL)

def load_obj(loc):
    with open(loc, 'rb') as f:
        return pickle.load(f)

def reverse_dict(my_map):
    inv_map = {v: k for k, v in my_map.items()}
    return inv_map
############################################################################
root = '/Users/ozaltun/Dropbox (MIT)/Data/Trade/general_equilibrium_gravity/GTAP/output/baseview/VOM .csv'
vom = pd.read_csv(root, index_col=0, header=1)


comm_2_num = load_obj('/Users/ozaltun/Dropbox (MIT)/Data/Trade/general_equilibrium_gravity/GTAP/mapping/comm_2_num.pickle')
reg_2_num = load_obj('/Users/ozaltun/Dropbox (MIT)/Data/Trade/general_equilibrium_gravity/GTAP/mapping/reg_2_num.pickle')

In [7]:
# NSAV has TRAD in it. I think vom can be usedd directly as 
# Y(i, g) + Y(i, k)

In [7]:
## Now let me get to creating these matrices! Finally...

In [8]:
vom['NSAV_COMM_Number'] = vom.NSAV_COMM.map(comm_2_num)
vom['REG_Number'] = vom.REG.map(reg_2_num)

In [9]:
vom_mi = vom.set_index(['NSAV_COMM_Number','REG_Number'])
vom_mi

                            NSAV_COMM  REG          Value
NSAV_COMM_Number REG_Number
0                0               Land  aus    4508.203125
1                0            UnSkLab  aus  261908.234380
2                0              SkLab  aus  188774.406250
3                0            Capital  aus  246762.265630
4                0            NatlRes  aus   12044.560547
...                               ...  ...            ...
58               133              obs  xtw      24.312340
59               133              ros  xtw       6.540472
60               133              osg  xtw      26.691265
61               133              dwe  xtw       9.590336
62               133             CGDS  xtw      31.223593

[8442 rows x 3 columns]

In [10]:
vom_mi.drop(['NSAV_COMM', 'REG'],axis=1, inplace=True)

vom_mi

                                     Value
NSAV_COMM_Number REG_Number
0                0             4508.203125
1                0           261908.234380
2                0           188774.406250
3                0           246762.265630
4                0            12044.560547
...                                    ...
58               133             24.312340
59               133              6.540472
60               133             26.691265
61               133              9.590336
62               133             31.223593

[8442 rows x 1 columns]

In [11]:
shape = list(map(len, vom_mi.index.levels))
shape

[63, 134]

In [15]:
shape = list(map(len, vom_mi.index.levels))
vom_np = np.full(shape, -1000)

In [16]:
for i in list(vom_mi.index.values):
    vom_np[i] = vom_mi.loc[i].values[0]

In [17]:
vom_np[vom_np <0]

array([], dtype=int64)

In [19]:
root_matrix = '/Users/ozaltun/Dropbox (MIT)/Data/Trade/general_equilibrium_gravity/GTAP/matrices/Y.pickle'
save_obj(vom_np, root_matrix)