In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
root = '/Users/ozaltun/Dropbox (MIT)/Data/Trade/general_equilibrium_gravity/GTAP/output/basedata/{}.csv'

In [33]:
files = ['VXWD'] # Lets go with import values since we want to sum all import values D_ng = sum(i Xnig)
data = {}

for i in files:
    data[i] = pd.read_csv(root.format(i), index_col=0, header=1, low_memory=False)
    # data[i].set_index(data[i].columns.tolist()[:3], inplace=True)

/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [34]:
df = data['VXWD']

In [35]:
df[df.Value>1]

       TRAD_COMM  REG REG.1      Value
0
60           gro  nzl   aus   1.338201
61           v_f  nzl   aus  70.237961
65           ocr  nzl   aus  17.789104
66           ctl  nzl   aus  57.478527
67           oap  nzl   aus  17.625679
...          ...  ...   ...        ...
998037       ome  zaf   xsc  18.021301
998038       omf  zaf   xsc   1.511665
998085       crp  xsc   xsc   4.826372
999654       crp  usa   xtw   1.013679
999662       ome  usa   xtw   1.230989

[162105 rows x 4 columns]

In [40]:
df.shape

(1005670, 4)

In [36]:
df2 = pd.read_csv('/Users/ozaltun/Dropbox (MIT)/Data/Trade/general_equilibrium_gravity/GTAP/output/tstrade/VTTS.csv', index_col=0, header=1, low_memory=False)

/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [37]:
df2 = df2[df2.YEAR == 'Y2007' ]

In [38]:
df2.set_index(df2.columns.tolist()[:3]).loc[('v_f', 'nzl','aus')]

YEAR     Y2007
Value       70
Name: (v_f, nzl, aus), dtype: object

In [39]:
df2.columns[:3]

Index(['TRAD_COMM', 'REG', 'REG.1'], dtype='object')

In [21]:
df2[df2.TRAD_COMM == 'pdr']

        TRAD_COMM  REG REG.1   YEAR  Value
0
1074866       pdr  aus   nzl  Y2007      1
1075633       pdr  aus   xoc  Y2007      8
1075862       pdr  tha   xoc  Y2007      6
1076385       pdr  lao   chn  Y2007      1
1078088       pdr  tha   hkg  Y2007      1
...           ...  ...   ...    ...    ...
1176498       pdr  pak   xec  Y2007      1
1176931       pdr  egy   xec  Y2007      8
1177232       pdr  zaf   bwa  Y2007      5
1177425       pdr  zaf   nam  Y2007      3
1178779       pdr  zaf   xsc  Y2007      1

[196 rows x 5 columns]

In [ ]:
## This suggesting that I actually use VXWD!

In [45]:
df_mi = df.set_index(['TRAD_COMM', 'REG', 'REG.1'])

In [46]:
shape = map(len, df_mi.index.levels)

In [49]:
arr = np.full(shape, np.nan)

TypeError: expected sequence object with len >= 0 or a single integer

In [50]:
df_mi.index.levels

FrozenList([['atp', 'b_t', 'c_b', 'cmn', 'cmt', 'cns', 'coa', 'crp', 'ctl', 'dwe', 'ele', 'ely', 'fmp', 'frs', 'fsh', 'gas', 'gdt', 'gro', 'i_s', 'isr', 'lea', 'lum', 'mil', 'mvh', 'nfm', 'nmm', 'oap', 'obs', 'ocr', 'ofd', 'ofi', 'oil', 'ome', 'omf', 'omn', 'omt', 'osd', 'osg', 'otn', 'otp', 'p_c', 'pcr', 'pdr', 'pfb', 'ppp', 'rmk', 'ros', 'sgr', 'tex', 'trd', 'v_f', 'vol', 'wap', 'wht', 'wol', 'wtp', 'wtr'], ['alb', 'are', 'arg', 'arm', 'aus', 'aut', 'aze', 'bel', 'ben', 'bfa', 'bgd', 'bgr', 'bhr', 'blr', 'bol', 'bra', 'bwa', 'can', 'che', 'chl', 'chn', 'civ', 'cmr', 'col', 'cri', 'cyp', 'cze', 'deu', 'dnk', 'ecu', 'egy', 'esp', 'est', 'eth', 'fin', 'fra', 'gbr', 'geo', 'gha', 'gin', 'grc', 'gtm', 'hkg', 'hnd', 'hrv', 'hun', 'idn', 'ind', 'irl', 'irn', 'isr', 'ita', 'jpn', 'kaz', 'ken', 'kgz', 'khm', 'kor', 'kwt', 'lao', 'lka', 'ltu', 'lux', 'lva', 'mar', 'mdg', 'mex', 'mlt', 'mng', 'moz', 'mus', 'mwi', 'mys', 'nam', 'nga', 'nic', 'nld', 'nor', 'npl', 'nzl', 'omn', 'pak', 'pan', 'per', 'phl', 'pol', 'prt', 'pry', 'qat', 'rou', 'rus', 'rwa', 'sau', 'sen', 'sgp', 'slv', 'svk', 'svn', 'swe', 'tgo', ...], ['alb', 'are', 'arg', 'arm', 'aus', 'aut', 'aze', 'bel', 'ben', 'bfa', 'bgd', 'bgr', 'bhr', 'blr', 'bol', 'bra', 'bwa', 'can', 'che', 'chl', 'chn', 'civ', 'cmr', 'col', 'cri', 'cyp', 'cze', 'deu', 'dnk', 'ecu', 'egy', 'esp', 'est', 'eth', 'fin', 'fra', 'gbr', 'geo', 'gha', 'gin', 'grc', 'gtm', 'hkg', 'hnd', 'hrv', 'hun', 'idn', 'ind', 'irl', 'irn', 'isr', 'ita', 'jpn', 'kaz', 'ken', 'kgz', 'khm', 'kor', 'kwt', 'lao', 'lka', 'ltu', 'lux', 'lva', 'mar', 'mdg', 'mex', 'mlt', 'mng', 'moz', 'mus', 'mwi', 'mys', 'nam', 'nga', 'nic', 'nld', 'nor', 'npl', 'nzl', 'omn', 'pak', 'pan', 'per', 'phl', 'pol', 'prt', 'pry', 'qat', 'rou', 'rus', 'rwa', 'sau', 'sen', 'sgp', 'slv', 'svk', 'svn', 'swe', 'tgo', ...]])