In [1]:
import numpy as np
import pandas as pd
import pickle

In [2]:
## Datasets needed to get production: basedata/VXMD.csv, basedata/VST.csv, basedata/VDFM.csv, basedata/VDPM.csv,
## basedata/VDGM.csv, basedata/

## or just baseview/vom.csv


############### Some important functions to carry around #####################
def save_obj(obj, loc ):
    with open(loc, 'wb') as f:
        pickle.dump(obj, f, pickle.HIGHEST_PROTOCOL)

def load_obj(loc):
    with open(loc, 'rb') as f:
        return pickle.load(f)

def reverse_dict(my_map):
    inv_map = {v: k for k, v in my_map.items()}
    return inv_map

def convertRow2Matrix(df, index_cols, maps):
    ''' This is a new function: example use:
    
    vom_np_2 = convertRow2Matrix(vom, ['TRAD_COMM','REG'], [comm_2_num, reg_2_num])
    
    '''
    df_copy = df.copy()
    index_cols_n = [col+'_Number' for col in index_cols]
    for i, col in enumerate(index_cols):
        df_copy[index_cols_n[i]] = df_copy[col].map(maps[i])
    
    df_mi = df_copy.set_index(index_cols_n)
    df_mi.drop(index_cols, axis=1, inplace=True)
    
    shape = list(map(len, df_mi.index.levels))
    output = np.full(shape, -1000)
    
    for i in list(df_mi.index.values):
        output[i] = df_mi.loc[i].values[0]
        
    print('Number of empty values: ', output[output<0])
    
    return output
############################################################################
root = '/Users/boraozaltun/Dropbox (MIT)/Data/Trade/general_equilibrium_gravity/GTAP/output/basedata/TVOM.csv'
vom = pd.read_csv(root, index_col=0, header=1)


comm_2_num = load_obj('/Users/boraozaltun/Dropbox (MIT)/Data/Trade/general_equilibrium_gravity/GTAP/mapping/comm_2_num.pickle')
reg_2_num = load_obj('/Users/boraozaltun/Dropbox (MIT)/Data/Trade/general_equilibrium_gravity/GTAP/mapping/reg_2_num.pickle')

Number of empty values:  []

In [4]:
# NSAV has TRAD in it. I think vom can be usedd directly as 
# Y(i, g) + Y(i, k)
# We are now going with tvom with is only TRAD_COMM: This is easier since we are putting it in matrix form

In [4]:
## Now let me get to creating these matrices! Finally...

In [6]:
df = pd.DataFrame(vom)
index_cols = ['TRAD_COMM','REG']
maps = [comm_2_num, reg_2_num]
index_cols_n = [col+'_Number' for col in index_cols]
for i, col in enumerate(index_cols):
    df[index_cols_n[i]] = df[col].map(maps[i])

df_mi = df.set_index(index_cols_n)
df_mi.drop(index_cols, axis=1, inplace=True)

shape = list(map(len, df_mi.index.levels))
output = np.full(shape, -1000)


for i in list(df_mi.index.values):
    output[i] = df_mi.loc[i].values[0]

print('Number of empty values: ', output[output<0])

Number of empty values:  []

In [7]:
vom['TRAD_COMM_Number'] = vom.TRAD_COMM.map(comm_2_num)
vom['REG_Number'] = vom.REG.map(reg_2_num)

In [8]:
vom_mi = vom.set_index(['TRAD_COMM_Number','REG_Number'])
vom_mi

                            TRAD_COMM  REG         Value
TRAD_COMM_Number REG_Number
0                0                pdr  aus     56.890690
1                0                wht  aus   4087.057129
2                0                gro  aus   2649.510742
3                0                v_f  aus   4977.478027
4                0                osd  aus   1367.273315
5                0                c_b  aus    705.076904
6                0                pfb  aus   1203.006714
7                0                ocr  aus   2377.479004
8                0                ctl  aus   7767.312988
9                0                oap  aus   2415.482666
10               0                rmk  aus   4001.794922
11               0                wol  aus   3488.432129
12               0                frs  aus   1803.272095
13               0                fsh  aus   2455.466309
14               0                coa  aus  22078.773438
15               0                oil  aus  12473.775391
16               0                gas  aus   6854.340820
17               0                omn  aus  53217.250000
18               0                cmt  aus  12688.684570
19               0                omt  aus   4707.025391
20               0                vol  aus   1474.235352
21               0                mil  aus   8756.831055
22               0                pcr  aus    556.059265
23               0                sgr  aus   2886.978760
24               0                ofd  aus  19609.455078
25               0                b_t  aus  13230.750977
26               0                tex  aus   4387.741699
27               0                wap  aus   2564.518311
28               0                lea  aus    905.165466
29               0                lum  aus   9966.114258
...                               ...  ...           ...
27               133              wap  xtw      1.440090
28               133              lea  xtw      0.539549
29               133              lum  xtw      3.322858
30               133              ppp  xtw      5.817935
31               133              p_c  xtw      6.157996
32               133              crp  xtw      9.077642
33               133              nmm  xtw      2.539275
34               133              i_s  xtw      2.127318
35               133              nfm  xtw      2.097877
36               133              fmp  xtw      4.270364
37               133              mvh  xtw      5.083212
38               133              otn  xtw      1.710536
39               133              ele  xtw      5.237057
40               133              ome  xtw      7.121354
41               133              omf  xtw      2.375028
42               133              ely  xtw      7.980885
43               133              gdt  xtw      0.557473
44               133              wtr  xtw      0.411568
45               133              cns  xtw     20.085161
46               133              trd  xtw     30.060963
47               133              otp  xtw      5.188242
48               133              wtp  xtw      1.898278
49               133              atp  xtw      3.963030
50               133              cmn  xtw      5.448195
51               133              ofi  xtw      6.207861
52               133              isr  xtw      3.509302
53               133              obs  xtw     24.312340
54               133              ros  xtw      6.540472
55               133              osg  xtw     26.691265
56               133              dwe  xtw      9.590336

[7638 rows x 3 columns]

In [9]:
vom_mi.drop(['TRAD_COMM', 'REG'],axis=1, inplace=True)

vom_mi

                                    Value
TRAD_COMM_Number REG_Number
0                0              56.890690
1                0            4087.057129
2                0            2649.510742
3                0            4977.478027
4                0            1367.273315
5                0             705.076904
6                0            1203.006714
7                0            2377.479004
8                0            7767.312988
9                0            2415.482666
10               0            4001.794922
11               0            3488.432129
12               0            1803.272095
13               0            2455.466309
14               0           22078.773438
15               0           12473.775391
16               0            6854.340820
17               0           53217.250000
18               0           12688.684570
19               0            4707.025391
20               0            1474.235352
21               0            8756.831055
22               0             556.059265
23               0            2886.978760
24               0           19609.455078
25               0           13230.750977
26               0            4387.741699
27               0            2564.518311
28               0             905.165466
29               0            9966.114258
...                                   ...
27               133             1.440090
28               133             0.539549
29               133             3.322858
30               133             5.817935
31               133             6.157996
32               133             9.077642
33               133             2.539275
34               133             2.127318
35               133             2.097877
36               133             4.270364
37               133             5.083212
38               133             1.710536
39               133             5.237057
40               133             7.121354
41               133             2.375028
42               133             7.980885
43               133             0.557473
44               133             0.411568
45               133            20.085161
46               133            30.060963
47               133             5.188242
48               133             1.898278
49               133             3.963030
50               133             5.448195
51               133             6.207861
52               133             3.509302
53               133            24.312340
54               133             6.540472
55               133            26.691265
56               133             9.590336

[7638 rows x 1 columns]

In [10]:
shape = list(map(len, vom_mi.index.levels))
shape

[57, 134]

In [11]:
shape = list(map(len, vom_mi.index.levels))
vom_np = np.full(shape, -1000)

In [12]:
for i in list(vom_mi.index.values):
    vom_np[i] = vom_mi.loc[i].values[0]

In [13]:
vom_np_2

array([[    56,      0,      0, ...,     12,      0,      0],
       [  4087,     87,     45, ...,    754,      0,      0],
       [  2649,    165,     39, ...,   2179,    137,      0],
       ...,
       [ 64078,   8440,   1984, ...,  22497,    179,      6],
       [176838,  30533,   7652, ...,  73921,    758,     26],
       [ 77055,  12243,   2634, ...,  12177,    171,      9]])

In [14]:
(vom_np_2 != vom_np).sum().sum()

0